@charset "utf-8";
/* CSS Document */



.ml-10{margin-left: 15px}
header{width: 100%; position: absolute; left: 0; top: 30px; z-index: 10}
.logo{padding-top: 15px;width: 100px }
.logo a:hover{color: red}
.menu ul{margin: 0; padding: 0; list-style: none; display: flex}
.menu{padding-top: 25px}
.menu ul li a{padding: 10px 20px; text-decoration: none; text-transform: uppercase; font-size: 17px; color: #E8E8E8}
.menu ul li a:hover{ color: green}
.banner{width: 100%; min-height: 500px; position: relative;margin: 0;padding: 0}
.caption{width: 30%; position: absolute; right: 60%; bottom: 15%; color: white; text-align: left}
.text-xanh{color: aqua}
footer{width: 100%;height: auto; color: white;background-color: #666666}
.col-4 ul{list-style: none}
.col-4 ul li a{text-decoration: none;color: aqua}
.textt{color: white}
.bb{width: 100%;height: auto;position: absolute;margin: 0;padding: 0}
.vien{padding: 10px; ; width: 100%; position: relative; overflow: hidden}
.vien ul{list-style: none}
.vien ul li a {text-decoration: none;text-align: center;padding-left: 50px;color: red}

